@{
    ViewBag.Title = "About Me";
}




<h1>NICOLA VIRGINO</h1>

<p>software developer, card and antique collecter, space enthusiast, and hobbying astrophysicist.</p>

@* TODO: MAKE A SEARCH BAR FOR SPACE PICTURES *@
<div class="form-group has-search">
    <span class="fa fa-search form-control-feedback"></span>
    <input type="text" class="form-control" placeholder="Search">
</div>
