@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>One Man's Junk</h1>
    <p class="lead">
        Innovations in science and technology are the 
        engines of the 21st-century economy; if you care about the wealth and health of your nation tomorrow, then you'd better rethink how you allocate taxes to fund science. The federal budget needs to recognize this.
    </p>

    <p><a href="#" class="btn btn-primary btn-lg">Show Antiques Here &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Placeholder One</h2>
        <p>
            Innovations in science and technology are the engines of the 21st-century economy; if you care about the wealth and health of your nation tomorrow, then you'd better rethink how you allocate taxes to fund science. The federal budget needs to recognize this.


        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Placeholder Two</h2>
        <p>
            Innovations in science and technology are the engines of the 21st-century economy; if you care about the wealth and health of your nation tomorrow, then you'd better rethink how you allocate taxes to fund science. The federal budget needs to recognize this.

        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Placeholder Three</h2>
        <p>
            Innovations in science and technology are the engines of the 21st-century economy; if you care about the wealth and health of your nation tomorrow, then you'd better rethink how you allocate taxes to fund science. The federal budget needs to recognize this.

        </p>
        
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
</div>