@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>NICOLA VIRGINO</h1>
    <p class="lead">
        Innovations in science and technology are the 
        engines of the 21st-century economy; if you care about the wealth and health of your nation tomorrow, then you'd better rethink how you allocate taxes to fund science. The federal budget needs to recognize this.
    </p>

    <p><a href="#" class="btn btn-primary btn-lg">Shop with me &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
  
        
        <h2>@Html.ActionLink("Rent the Outdoors", "RentTheOutDoors", "Projects")</h2>
        
        <p>
            Innovations in science and technology are the engines of the 21st-century economy; if you care about the wealth and health of your nation tomorrow, then you'd better rethink how you allocate taxes to fund science. The federal budget needs to recognize this.


        </p>
        <p><a class="btn btn-default" asp-controller="ProjectsController" asp-action="RentTheOutdoors")>Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Tamaraland", "Tamaraland", "Projects")</h2>
        <p>
            Innovations in science and technology are the engines of the 21st-century economy; if you care about the wealth and health of your nation tomorrow, then you'd better rethink how you allocate taxes to fund science. The federal budget needs to recognize this.

        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">

        <h2>@Html.ActionLink("Party Event Planner", "Pep", "Projects")</h2>
        <p>
            Innovations in science and technology are the engines of the 21st-century economy; if you care about the wealth and health of your nation tomorrow, then you'd better rethink how you allocate taxes to fund science. The federal budget needs to recognize this.

        </p>
        
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
</div>